md-content.content-custom(layout='column', layout-align='center',
           layout-padding='', ng-if='!activeUser',
           flex-sm='', flex-md='65', flex-lg='65', flex-gt-lg='55')
  //- div(layout='row', layout-align='center')
  md-toolbar.content-toolbar
    .md-toolbar-tools
      .md-title(ng-bind='HomeCtrl.message')
  md-content.md-whiteframe-z1(layout='column', layout-align='center center', ng-if='!HomeCtrl.isLoggedIn()')
    p Hey there mind using buttons below to log in or sign up?
    section(layout='row')
      md-button(class='md-raised md-primary', ui-sref='login') Login
      md-button(class='md-raised md-primary', ui-sref='signup') Signup
  md-content.md-whiteframe-z1(layout='column', layout-align='center start', 
                              layout-padding='', ng-if='HomeCtrl.isLoggedIn()')
    form(disabled='', layout-fill='', layout-margin='', layout="column", flex='')
      md-subheader Last Poll
      md-radio-group()
        div(layout='row', layout-align='space-between center',
            ng-repeat='option in HomeCtrl.poll.options')
          md-radio-button(ng-value ='option.option',
                          ng-disabled='HomeCtrl.voteid',
                          ng-bind='option.option')
          label {{option.count}}
      div(layout='row', layout-align='space-between center')
        div(layout='row', layout-align='start center')
          md-button(class='md-raised md-primary',
                    ui-sref='new') New
          md-button(class='md-raised md-primary',
                    ui-sref='polls') View All 
        div(layout='row', layout-align='end center') 
          md-button(class='md-raised md-warn',
                    ui-sref='delete({_id:HomeCtrl.poll._id})') Delete  
